Source: libfm-column-torrent-name
Maintainer: Livanh <livanh@protonmail.com>
Section: utils
Priority: optional
Standards-Version: 3.9.2
Build-Depends: debhelper (>= 9), gcc, libtool, libfm-gtk3-dev

Package: libfm-column-torrent-name
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, pcmanfm
Priority: optional
Section: utils
Description: libfm torrent name module
 This module for pcmanfm/libfm displays the suggested name of a torrent file (as recorded in the torrent file itself) in a dedicated column
